<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/shared/template/base.css">
    {{style}}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <a href="/" class="nav-link">Главная</a>
                <a href="/products" class="nav-link">Продукты</a>
                <a href="/contacts" class="nav-link">Контакты</a>
            </div>
            <div class="nav-right">
                <img src="/shared/images/Avatar.jpg" alt="Пользователь" class="user-icon">
            </div>
        </nav>
    </header>

    <main>
        {{content}}
    </main>
</body>
</html>
